@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');

body {
  font-family: 'Lusitana', cursive;
  color: white;
  line-height: 1.7;
  font-size: 19px;
  background-color: #3b3838;

}

/* navbar style */

.navbar {
  background-color: rgba(22,22,22,0.8);
  display: flex;
  justify-content: center;
}

.link {
  color: white;
  display: inline-block;
  padding: 3px 20px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.link:hover {
  color: #e7b03a;
  transform: scale(1.4);
}

/* nasa-photo */
.nasa-photo {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;
}

.nasa-photo img {
  width: 50%;
  margin-right: 50px;
  object-fit: contain;
  max-height: 80vh;
}

.nasa-photo h1 {
  margin-top: 0;
  margin-bottom: 30px;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
}

.nasa-photo .explanation {
  color: #bbb
}

@media (max-width: 1280px) {
    .nasa-photo {
      display: block;
    }

    nasa-photo img {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
}

.home {
  display: flex;
  background-image: url(purple.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-link {
  font-size: 40px;
  background: #7e40b1;
  display: inline-block;
  padding: 40px 80px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.home-link:hover {
  background: #8b0df1;
}